<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quemsomos.css">
    <link rel="stylesheet" href="script.js">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" rel="stylesheet" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo-removebg-preview.png" type="imagens/x-icon">
    <title>QUEM SOMOS</title>
</head>
<body>
    <!DOCTYPE html>

</head>
<body>
     <nav>
        <a href="#" class="logo"><img src="img" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    
    <ul class="navlist">
        <li><a href="home.html"><b>HOME</b></a></li>
        <li><a href="quemsomos.html"><b>QUEM SOMOS</b></a></li>
        <li><a href="analytics.html"><b>ANALYTICS</b></a></li>
    </ul>    
    
    <a href="#" class="btn">Trabalhe Conosco</a>
    </nav>

    <!---hero-->
    <section class="hero">
        <div class="main-text">
            <h1>Tire<span>Store</span></h1>
            <p>O Mundo dos Pneus</p>

        </div>



    </section>

    <script src="home.js"></script>


</body>
</html>
