<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="script.js">
    <link rel="stylesheet" 
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" rel="stylesheet" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo-removebg-preview.png" type="imagens/x-icon">
        <title>Tire Store | Home </title>
</head>
<body>
    <div class="body">
     <nav>
        
        <a href="#" class="logo"><img src="img" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    
    <ul class="navlist">
        <li><a href="home.html"><b>HOME</b></a></li>
        <li><a href="quemsomos.html"><b>QUEM SOMOS</b></a></li>
        <li><a href="dashboard.html"><b>DASHBOARD</b></a></li>
        <li><a href="analytics.html"><b>ANALYTICS</b></a></li>
    </ul>    
    
<a href="forms.html" class="btn">Trabalhe Conosco</a>
</nav>

    <!---hero-->
    <section class="hero">
        <div class="main-text">
            <h1>Tir-<span>eStore</span></h1>
            <p>O Mundo dos Pneus</p>

        </div>
</section>



</div>

<div class="body2">

    <h2><b>NOSSOS &nbsp;PRODUTOS</b></h2>
    <img src="img/canvas3.png" alt="carro de fundo">
    <div class="image-container">
        
        <div class="image-item">
            <a href="https://yokohama.com.br/equipamentos-originais/mercedes-benz/"><img src="img/pneu1.jpg" alt="Descrição da imagem"></a>
        </div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="image-item">
            <a href="https://yokohama.com.br/equipamentos-originais/mercedes-benz/"></a><img src="img/pneu2.jpg" alt="Descrição da imagem"></a>
        </div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="image-item">
            <a href="https://yokohama.com.br/equipamentos-originais/mercedes-benz/"><img src="img/pneu3.jpg" alt="Descrição da imagem"></a>
        
</div>

    <script src="home.js"></script>

</body>
</html>