<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quemsomos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="shortcut icon" href="img/logo-removebg-preview.png" type="imagens/x-icon">
    <title>QUEM SOMOS</title>
</head>
<body>
<div class="body">
<nav>
    <a href="#" class="logo"><img src="img" alt=""></a>
    <div class="bx bx-menu" id="menu-icon"></div>
    
    <ul class="navlist">
        <li><a href="home.html"><b>HOME</b></a></li>
        <li><a href="quemsomos.html"><b>QUEM SOMOS</b></a></li>
        <li><a href="dashboard.html"><b>DASHBOARD</b></a></li>
        <li><a href="analytics.html"><b>ANALYTICS</b></a></li>
    </ul>    
    
    <a href="forms.html" class="btn">Trabalhe Conosco</a>
</nav>



    <div class="row">
    <div class="col">
        <div class="main-text">
    
        <h1>Tir-<span>eStore</span></h1>
                <h5></h5><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conheça nossa história!</b></h5>
    </div>

    </div>
    
    <div class="col1">
    <div class="card card1" >
        <h5><b>CRIADORES</b></h5>
        <br>
        <p>A Tir-eStore foi fundada no ano de 1977 por dois
             amantes do mundo automotivo 
            [Isaac Soares & Henrique Douradao].
            Ambos focados em oferecer 
            pneus inovadores e de alta performance.</p>
        </div>
    <div class="card card2" >
        <h5><b>OBJETIVO</b></h5>
        <br>
        <p>Comprometidos com a excelência em pneus, superando todas expectativas.
        Pensando sempre na inovação constante para enfrentar 
        qualquer desafio.</p>
    </div>
    <br>
    <div class="card card3"> 
        <h5><b>MERCADO</b></h5>
        <br>
        <p>Atuamos no mercado global, atendendo diversas necessidades.
        linha de produção, autopeças, hipermercados adaptável a condutores 
        urbanos, entusiastas de alta performance e do 
        off-road.</p>    
    </div>
    <div class="card card4">
        <h5><b>PARCEIROS</b></h5>
        <br>
        <p>Aonde quer que estivermos, podemos 
            garantir nossos produtos em seu estoque
                com a garantia Tir-eStore
                    graças aos nossos maiores parceiros:</p>
    </div>
    </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
              <div class="col" id="company">
                  <h3>Tir-eStore</h3>
                  <p>
                    A sua, a minha, a nossa empresa de pneus!
                  </p>
                  <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </div>
              </div>


              <div class="col" id="services">
                 <h3>Serviços</h3>
                 <div class="links">
                    <a href="#">Ilustrações</a>
                    <a href="#">Criativos</a>
                    <a href="#">Posts Design</a>
                    <a href="#">Cartão Design</a>
                 </div>
              </div>

              <div class="col" id="useful-links">
                 <h3>Links</h3>
                 <div class="links">
                    <a href="#">Sobre</a>
                    <a href="#">Serviços</a>
                    <a href="#">Outras Ploticas</a>
                    <a href="#">Ajuda</a>
                 </div>
              </div>

              <div class="col" id="contact">
                  <h3>Contatos</h3>
                  <div class="contact-details">
                     <i class="fa fa-location"></i>
                     <p>Avenida Taboão, 1303 Diadema<br> SP, BRA</p>
                  </div>
                  <div class="contact-details">
                     <i class="fa fa-phone"></i>
                     <p>+55 (11)9 1370-7887</p>
                  </div>
              </div>
        </div>

        <div class="row">
              <div class="form">
                <form action="">
                    <input type="text" placeholder="Email here...">
                    <button><i class="fa fa-paper-plane"></i></button>
                </form>
              </div>
        </div>

    </div>
 </footer>

<script src="quemsomos.js"></script>


</body>
</html>
